$imgPath : "../scss/assets/images";

/* color */
$body_text: #666;
$white: #FFF;
$black: #000;
$purple: #6665cc;
$blue: #19398a;
$blue1: #007bff;
$red: #fe0002;
$grey1:#F5F5F5;
$grey2: #3c3c3c;
$grey3: #e6e6e6;
$grey4: #f4e9e9;