
@media screen and (min-width: 769px){
	.navbar-toggler{
		display: none;
	}
}
@media screen and (max-width: 768px){
	.navbar-brand{
		padding: 0;
	}
	.navbar-brand>img, header.fixed .navbar-brand>img{
		height: 74px;
		padding: 0;
	}
	.aboutContent .container, .homeServices-container .container, .homeSolution-container .container,
	.testimonial-section .container, .main-section .container{
		max-width: 600px;
		text-align: center;
	}
	.main-section .container{
		text-align: left;
	}
	.services-content{
		margin-bottom: 30px;
	}
	.homeSolution .home-service{
		margin-bottom: 30px;
	}
	.homeSolution .ab-overlay i{
		left: 0;
	}
	footer .container{
		max-width: 650px;
	}
	.page-banner{
		overflow: hidden;
	}
	.page-banner img {
	    height: 200px;
	    width: inherit;
	}
	.breadcrumb{
		width: 100%;
		height: 130px;
	}
	.breadcrumb h1{
		font-size: 16px;
		margin: 5px 0 10px;
	}
	.get-touch-area .single-item{
		margin-bottom: 30px;
	}
	.main-section ul li{
		text-align: left;
	}
	.main-section h3, .main-section h4{
		margin: 25px 0 15px;
	}
}

@media screen and  (max-width: 480px){
	.aboutContent .container, .homeServices-container .container,  .homeSolution-container .container,
	.testimonial-section .container{
		padding: 0 25px;
	}
	.header-top:before, .header-top:after{
		display: none;
	}
	.services-content{
		background: #c11010;
		margin-bottom: 30px;
	}
	.services-text{
		position: relative;
		transform: initial;
		padding-bottom: 20px;
	}
	.services-content .overlay{
		display: none;
	}
	.homeSolution .home-service, .get-touch-area .single-item{
		margin-bottom: 30px;
	}
	.about-content, .solution-content, .service-content{
		padding: 0 20px;
	}
	
}
@media screen and  (max-width: 420px){
	#service .service>ul>li {
		width: 100%;
		margin: auto;
		display: block;
	}	
}



